@model TaskOrdersApplication.ViewModels.OrderItemsSaveView
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit order</h2>
@using (Html.BeginForm("Save", "Home",Model))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Order.DateOfOrder)
        @Html.TextBoxFor(m => m.Order.DateOfOrder, "{0:MM/dd/yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Order.DateOfOrder)
    </div>
    <div class="form-group">
        <h6>Customer</h6>
        @Html.LabelFor(m => m.Order.Customer.Id)
        @Html.TextBoxFor(m => m.Order.Customer.Id, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <h6>Ordered items</h6>
    if (Model.OrderedItems != null)
    {
        
        for (var i = 0; i < Model.OrderedItems.ToList().Count; i++)
        {
            <h6 class="alert-info">@(i + 1)</h6>
            Model.OrderItem = Model.OrderedItems.ToList()[i];
            <table class="table-hover">

                <tr>

                    @Html.HiddenFor(m => m.OrderItem.Id)
                    <td>
                        @Html.LabelFor(m => m.OrderItem.Name)
                        @Html.TextBoxFor(m => m.OrderItem.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OrderItem.Name)
                        <p>Items name</p>
                    </td>
                    <td>

                        @Html.LabelFor(m => m.OrderItem.Amount)
                        @Html.TextBoxFor(m => m.OrderItem.Amount, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Order.OrderedItems.ToList()[i].Amount)
                        <p>IN USD$</p>
                    </td>
                    <td>
                        @Html.LabelFor(m => m.OrderedItems.ToList()[i].Unit)
                        @Html.TextBoxFor(m => m.OrderedItems.ToList()[i].Unit, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OrderItem.Unit)
                        <p>No. of items ordered</p>
                    </td>

                </tr>
            </table>
        }

    }
    //Hidden field
    @Html.HiddenFor(m => m.Order.Id)
    @Html.HiddenFor(m => m.Order.Customer.Password)
    @Html.HiddenFor(m => m.Order.Customer.UserName)
    <button type="submit" class="btn btn-dark">Save</button>
}