@model TaskOrdersApplication.ViewModels.OrderListViewModel
@{
    ViewBag.Title = "Orders";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Orders</th>
            <th scope="col">Id of the Order</th>
            <th scope="col">Customer ID</th>
            <th scope="col">Date of Order</th>
            <th scope="col">Total amount</th>
            <th scope="col">Number of Items</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.AllOrders)
        {
            <tr>
                <th scope="row">Order</th>
                <td>@order.Id</td>
                <td>@order.Customer.UserName</td>
                <td>@String.Format("{0:MM/dd/yyyy}", @order.DateOfOrder)</td>
                <td>@order.TotalAmount</td>
                <td>@order.OrderedItems.Count</td>
                <td>
                    @using (@Html.BeginForm("Delete", "Home", new { id = order.Id }))
                    {
                        <button class="btn btn-danger" type="submit">Delete</button>
                    }
                </td>
                <td>
                    @using (@Html.BeginForm("Edit", "Home", new { id = order.Id }))
                    {
                        <button class="btn btn-primary" type="submit">Edit</button>
                    }
                </td>

            </tr>



        }
    </tbody>
</table>

@using (@Html.BeginForm("Create", "Home"))
{
    <button class="btn btn-primary" type="submit">Create new order</button>
}